---
import { ExternalLink } from "@lucide/astro"
import { Image } from "astro:assets"
import GitHub from "raon:assets/github.svg"
import type { Project } from "raon:content"
import { defaultLang, getLangFromUrl } from "raon:i18n"

interface Props {
  project: Project
}

const { project } = Astro.props
const lang = getLangFromUrl(Astro.url)

const title = project.data.title[lang] || project.data.title[defaultLang]
const description = project.data.description[lang] || project.data.description[defaultLang]
---

<div class="island flex flex-col justify-between overflow-hidden">
  {
    project.data.coverImage && (
      <div class="border-outline h-48 w-full overflow-hidden border-b">
        <Image
          src={project.data.coverImage}
          alt={title}
          class="h-full w-full object-cover transition-transform duration-500 hover:scale-102"
        />
      </div>
    )
  }
  <div class="flex grow flex-col justify-between gap-4 p-6">
    <div class="flex flex-col gap-2">
      <div class="flex items-center justify-between">
        <h3 class="text-on-surface font-heading text-xl font-bold">
          {title}
        </h3>
        <div class="flex items-center gap-3">
          {
            project.data.github && (
              <a
                href={project.data.github}
                target="_blank"
                class="link link-variant"
                aria-label="GitHub Repository"
              >
                <GitHub class="size-5" />
              </a>
            )
          }
          {
            project.data.link && (
              <a
                href={project.data.link}
                target="_blank"
                class="link link-variant"
                aria-label="Live Demo"
              >
                <ExternalLink class="size-5" />
              </a>
            )
          }
        </div>
      </div>
      <p class="text-on-surface-variant text-sm leading-relaxed">
        {description}
      </p>
    </div>

    {
      project.data.tags && project.data.tags.length > 0 && (
        <div class="flex flex-wrap gap-2">
          {project.data.tags.map((tag) => (
            <span class="badge badge-ghost">{tag}</span>
          ))}
        </div>
      )
    }
  </div>
</div>
